<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rollup.journey">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.FlashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BluetoothActivity"/>
        <activity android:name="karics.library.zxing.android.CaptureActivity" />
        <activity android:name=".activity.MapActivity" />

        <receiver android:name=".receiver.BlueChangReceiver">
            <intent-filter android:priority="1000">

                <!-- 监听蓝牙打开关闭广播 -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6425193d56b7c52b9254b0af2e988a6f" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyABwrXRuZiziwX8TqTwF3Pwc-NRxNUSPwg" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.Main1Activity" />
        <activity android:name=".activity.Main1BuildActivity" />
        <activity android:name=".activity.Main1AddActivity" />
        <activity android:name=".activity.Main1TestActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".activity.Main1TestRecordActivity" />
        <activity android:name=".activity.Main2Activity" />
        <activity android:name=".activity.Main2NewmsgActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".activity.Main2SendmsgActivity" />
        <activity android:name=".activity.Main2AddPersonActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".activity.Main4Activity" />
        <activity android:name=".activity.Main4HistoryActivity" />

        <service
            android:name=".service.BluetoothLeService"
            android:enabled="true"
            android:exported="true" />

        <!--<activity android:name=".activity.BlueBaseActivity" />-->
        <activity android:name=".activity.GoogleMapActivity" />
        <activity android:name=".activity.MapRecordActivity" />
        <activity android:name=".activity.Main4HistoryDetailActivity" />
        <activity android:name=".activity.TestActivity"></activity>
    </application>

</manifest>